{%- assign blockSizing = section.settings.block_sizing -%}

{%- capture gridOneBlockSizing -%}
  {%- if blockSizing == 'left' -%} medium-up--one-third medium-up--push-one-sixth{%- else -%} medium-up--one-half{%- endif -%}
{%- endcapture -%}

{%- capture gridTwoBlockSizing -%}
  {%- if blockSizing == 'left' -%} medium-up--one-half {%- else -%} medium-up--one-third{%- endif -%}
{%- endcapture -%}


<section class="{{ section.id }} grid">

    <div class="grid__item {{ gridTwoBlockSizing }} ingredients-image">
        {%- if section.settings.image == blank -%}
            <div class="placeholder-background">
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
        {%- else -%}
        <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ image.alt | escape }}">
      {%- endif -%}
      <img class="photo" src="https://cdn.shopify.com/s/files/1/2911/8128/files/nouri-probiotic-omega-3-6-9-greens.jpg?19270" alt="">

    </div>
    <h2 class="pho-title">{{ section.settings.title }}</h2>

    <div class="grid__item {{ gridOneBlockSizing }} ingredients-info">
        <h2 class="title">{{ section.settings.title }}</h2>

        <p>{{ section.settings.subheader }}</p>

        <p><b>{{ section.settings.subheader_bold }}</b></p>

        {{ section.settings.content }}

        <div class="description-list">
            {%- for block in section.blocks -%}

                <div class="description-item {% if block.settings.link_dropdown %}link{% endif %}">

                    {% if block.settings.link_dropdown %}
                    <a href="{{ block.settings.link_dropdown_link }}" target="_blank">
                        <dt {{ block.shopify_attributes }}>
                            <b class="true">{{- block.settings.question -}}</b>
                            <img class="toggle-cross" src="https://cdn.shopify.com/s/files/1/2911/8128/files/plus-solid.svg?27735" alt="">
                            <img class="toggle-minus" src="https://cdn.shopify.com/s/files/1/2911/8128/files/minus-solid.svg?27735" alt="">
                        </dt>
                    </a>
                    {% else %}
                    <dt {{ block.shopify_attributes }}>
                        <b>{{- block.settings.question -}}</b>
                        <img class="toggle-cross" src="https://cdn.shopify.com/s/files/1/2911/8128/files/plus-solid.svg?27735" alt="">
                        <img class="toggle-minus" src="https://cdn.shopify.com/s/files/1/2911/8128/files/minus-solid.svg?27735" alt="">
                    </dt>
                    {% endif %}

                    <dd {{ block.shopify_attributes }}>
                        {% if block.settings.answer != empty %}
                            {{- block.settings.answer -}}
                        {% endif %}
                        {% if block.settings.html_answer != empty %}
                            {{- block.settings.html_answer -}}
                        {% endif %}
                        {% if block.settings.dropdown_image %}
                            {% assign img_url = block.settings.dropdown_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                            <img class="ingredient__image lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ section.settings.image.alt | escape }}">
                        {% endif %}
                    </dd>

                </div>

            {%- endfor -%}
        </div>
    </div>
</section>


{% schema %}
{
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "block_sizing",
            "label": "Block Sizing",
            "default": "left",
            "options": [
                {
                    "value": "right",
                    "label": "1/3 + 2/3"
                },
                {
                    "value": "left",
                    "label": "2/3 + 1/3"
                }
            ]
        },
        {
            "type": "header",
            "content": "Head Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Probiotic"
        },
        {
            "type": "text",
            "id": "subheader",
            "label": "Subheader",
            "default": "Subheader"
        },
        {
            "type": "text",
            "id": "subheader_bold",
            "label": "Subheader Bold",
            "default": "Subheader Bold"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Pure vegan omega powerhouse with the combined nutritional punch of evening primrose, flaxseed, and fish oils.</p>"
        }
    ],
    "name": "Ingredients Two",
    "blocks" : [
        {
            "type": "text",
            "name": "ingredients",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "link_dropdown",
                    "label": "link",
                    "default": false
                },
                {
                  "type": "url",
                  "id": "link_dropdown_link",
                  "label": {
                    "de": "Button-Etikett",
                    "en": "Button link",
                    "es": "Enlace de botón",
                    "fr": "Lien du bouton",
                    "it": "Link pulsante",
                    "ja": "ボタンリンク",
                    "nl": "Knoplink",
                    "pt-BR": "Link do botão",
                    "zh-CN": "按钮链接",
                    "zh-TW": "按鈕連結"
                }
              },
                {
                    "type": "textarea",
                    "id": "question",
                    "label": "Question",
                    "default": "You have a question?"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer",
                    "default": "<p>Here's your answer!</p>"
                },
                {
                    "type": "html",
                    "id": "html_answer",
                    "label": "Custom HTML"
                },
                {
                    "type": "image_picker",
                    "id": "dropdown_image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}
