

<div id="list-icons-{{ section.id }}" class="list-icons {% if section.settings.top_margin %}list-icons-wrapper--top-margin{% endif %} {% if section.settings.bottom_margin %}list-icons-wrapper--bottom-margin{% endif %}" data-section-id="{{ section.id }}" data-section-type="list-icons" style="background: {{ section.settings.icon_bg }}">
  {% if section.settings.icons_header != empty %}
    <div class="list-icons--header page-width">
      <p class="text-center" style="font-size:{{ section.settings.icons_header_size }}">{{ section.settings.icons_header }}</p>
    </div>
  {% endif %}
  <div class="page-width list-icons">
        {% if section.blocks.size > 0 %}

          {% if section.settings.icon_style == 'toggle' %}
              {% include 'list-icons-toggle-snippet' %}
          {%- else -%}
              {% include 'list-icons-modal-snippet' %}
          {% endif %}

        {% endif %}
    </div>
</div>

{% schema %}
  {
    "name": "Icons",
    "max_blocks": 7,
    "class": "index-section index-section--list-icons",
    "settings": [
    {
      "type": "text",
      "id": "icons_header",
      "label": "Icons header"
    },
    {
      "type": "text",
      "id": "icons_header_size",
      "label": "Icons header size(px, em, rem, ext.)"
    },
    {
      "type": "select",
      "id": "icon_style",
      "label": "Icon Style",
      "default": "modal",
      "options": [
        {
          "value": "modal",
          "label": "Modal"
        },
        {
          "value": "toggle",
          "label": "Toggle"
        }
      ]
      },
      {
        "type": "color",
        "id": "icon_bg",
        "label": "Background",
        "default": "#EE4523"
      },
      {
        "type": "color",
        "id": "icon_text",
        "label": "Text Color",
        "default": "#FFFFFF"
      },
      {
        "type": "html",
        "id": "cta_text_heading",
        "label": "CTA text",
        "default": "<p>click the icons to learn more</p>"
      },
      {
        "type": "checkbox",
        "id": "narrow_icons",
        "label": "Icons close together?",
        "default": true
    },
    {
      "type": "checkbox",
      "id": "top_margin",
      "label": {
        "de": "Oberer Rand",
        "en": "Top margin",
        "es": "Margen superior",
        "fr": "Marge supérieure",
        "it": "Margine superiore",
        "ja": "上マージン",
        "nl": "Bovenmarge",
        "pt-BR": "Margem superior",
        "zh-CN": "上边距",
        "zh-TW": "上方邊界"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_margin",
      "label": {
        "de": "Unterer Rand",
        "en": "Bottom margin",
        "es": "Margen inferior",
        "fr": "Marge inférieure",
        "it": "Margine inferiore",
        "ja": "下マージン",
        "nl": "Ondermarge",
        "pt-BR": "Margem inferior",
        "zh-CN": "下边距",
        "zh-TW": "下方邊界"
      },
      "default": true
  },
  {
    "type": "select",
    "id": "icon_alignment",
    "label": "Icon Alignment",
    "default": "top",
    "options": [
      {
        "value": "top",
        "label": "Top"
      },
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "bottom",
        "label": "Bottom"
      }
    ]
  },
  {
    "type": "select",
    "id": "icon_size",
    "label": "Icon Size",
    "default": "medium",
    "options": [
      {
        "value": "x-large",
        "label": "X-large"
      },
      {
        "value": "large",
        "label": "Large"
      },
      {
        "value": "medium",
        "label": "Medium"
      },
      {
        "value": "small",
        "label": "Small"
      }
    ]
  }
    ],
    "blocks" : [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "image",
            "label": "Image URL"
          },
          {
            "type": "text",
            "id": "icon_text_heading",
            "label": "Icon title text",
            "default": "anti-inflammatory"
          },
          {
            "type": "checkbox",
            "id": "show_popup",
            "label": "Show popup?",
            "default": false
          },
          {
            "type": "header",
            "content": "Popup Content"
          },
          {
            "type": "text",
            "id": "popup_image",
            "label": "Popup Icon URL"
          },
          {
            "type": "html",
            "id": "popup_text",
            "label": "Popup Text",
            "default": "anti-inflammatory"
          },
          {
            "type": "html",
            "id": "popup_subtext",
            "label": "Popup Subtext",
            "default": "*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Icons with text",
        "category": "Icons"
      }
    ]
  }
{% endschema %}
