{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign current_variant_sale = false -%}
{% if current_variant.compare_at_price > current_variant.price %}
  {%- assign current_variant_sale = true -%}
{% endif %}

<div class="product-template" data-section-id="{{ section.id }}" data-section-type="product-template" data-variant-id="{{ current_variant.id }}" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <div class="page-width page-container">
    
        {%- comment -%}<div class="grid">{%- endcomment -%}
        <div class="product-purchase grid__item">

            <div class="grid">

                <div class="product__content-header no-desktop">

                    {% if section.settings.show_vendor %}
                        <span class="product__vendor text-small text-center" itemprop="brand">{{ product.vendor }}</span>
                    {% endif %}

                    <h1 class="product__title" itemprop="name">{{ product.title }}</h1>

                    <h6 class="product__subtitle"><strong>{{ product.metafields.global.subtitle }}</strong></h6>
                    <h6 class="product__subtitle light"><em>{{ product.metafields.global.subtitle_sub }}</em></h6>

                </div>

                {% include 'product-image-gallery' %}

                {%- comment -%}
                Product form
                {%- endcomment -%}
                <div class="product__content grid__item medium-up--two-sixths medium-up--push-one-twelfth">

                    {% comment %}
                    ------------------------------------------------------------------------------
                    Product Form & Description
                    ------------------------------------------------------------------------------
                    {% endcomment %}

                    <div class="grid collapse-all">

                        <div class="grid__item">
                            
                            <div class="product__content-header no-moblie">

                                {% if section.settings.show_vendor %}
                                    <span class="product__vendor text-small text-center" itemprop="brand">{{ product.vendor }}</span>
                                {% endif %}

                                <h1 class="product__title" itemprop="name">{{ product.title }}</h1>

                                <h6 class="product__subtitle"><strong>{{ product.metafields.global.subtitle }}</strong></h6>
                                <h6 class="product__subtitle light"><em>{{ product.metafields.global.subtitle_sub }}</em></h6>

                            </div>

                            <div class="product__content-main">
                                
                                <div class="product__description rte" itemprop="description" class="rte">
                                    {% include 'product_bullets' %}
                                    {% include 'product_description_dropdowns' %}
                                </div>

                                <div class="product__form-container" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <div class="product__form-wrapper">
                                    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                                    <meta itemprop="priceCurrency" content="{{ cart.currency.iso_code }}">
                                    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

                                    {% include 'product-form' %}

                                    {% if section.settings.show_share_buttons %}
                                        {% if settings.share_facebook or settings.share_twitter or settings.share_pinterest %}
                                        <div class="product__share-wrapper small--hide">
                                            <div class="product__share">
                                                {% include 'social-sharing', type: "product", links: 'bottom' share_title: product.title, share_permalink: product.url, share_image: product %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                    </div>

                    {% comment %}
                    ------------------------------------------------------------------------------
                    Product Share Buttons
                    ------------------------------------------------------------------------------
                    {% endcomment %}
                    {% if section.settings.show_share_buttons %}
                        {% if settings.share_facebook or settings.share_twitter or settings.share_pinterest %}
                        <div class="product__share-wrapper product__share-wrapper--mobile medium-up--hide">
                            <div class="product__share">
                                {% include 'social-sharing', type: 'mobile', share_title: product.title, share_permalink: product.url, share_image: product %}
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}

                </div>
                {%- comment -%}
                END product form
                {%- endcomment -%}
            </div>

        </div>

        {%- comment -%}</div>{%- endcomment -%}

        {% include 'product_modal_icons_snippet' %}
        
    </div>
    {%- comment -%}
    
    END page-width page-container
    
    {%- endcomment -%}

    {% include 'product-carousel' %}
    
    {% if section.settings.show_img_with_text %}
    <div class="page-width page-container">
    
        {% include 'image_with_text_snippet' %}
    
    </div>
    {% endif %}

    {% comment %}
    ------------------------------------------------------------------------------
    Product Data
    ------------------------------------------------------------------------------
    {% endcomment %}
    <script type="application/json" data-product-json>
        {{ product | json }}
    </script>

</div>

{% schema %}
{
    "name":{
        "de":"Produktseiten",
        "en":"Product pages",
        "es":"Páginas de productos",
        "fr":"Pages de produits",
        "it":"Pagine di prodotto",
        "ja":"商品ページ",
        "nl":"Productpagina's",
        "pt-BR":"Páginas de produtos",
        "zh-CN":"产品页面",
        "zh-TW":"產品頁面"
    },
    "settings":[
    {
        "type":"checkbox",
        "id":"show_quantity_selector",
        "label":{
            "de":"Mengenauswahl anzeigen",
            "en":"Show quantity selector",
            "es":"Mostrar selector de cantidad",
            "fr":"Afficher le sélecteur de quantité",
            "it":"Mostra selettore quantità",
            "ja":"数量セレクターを表示する",
            "nl":"Hoeveelheidskiezer weergeven",
            "pt-BR":"Exiba um seletor de quantidade",
            "zh-CN":"显示数量选择器",
            "zh-TW":"顯示數量選擇器"
        },
        "default":false
    },
    {
        "type":"checkbox",
        "id":"show_variant_labels",
        "label":{
            "de":"Varianten-Etiketten anzeigen",
            "en":"Show variant labels",
            "es":"Mostrar etiquetas de variantes",
            "fr":"Afficher le nom des variantes",
            "it":"Mostra etichette varianti",
            "ja":"バリエーションのラベルを表示する",
            "nl":"Variantlabels weergeven",
            "pt-BR":"Exibir etiquetas variantes",
            "zh-CN":"显示多属性标签",
            "zh-TW":"顯示子類選項標籤"
        },
        "default":true
    },
    {
        "type":"checkbox",
        "id":"show_vendor",
        "label":{
            "de":"Produktverkäufer anzeigen",
            "en":"Show product vendor",
            "es":"Mostrar proveedor del producto",
            "fr":"Afficher le distributeur du produit",
            "it":"Indica fornitore prodotto",
            "ja":"商品の販売元を表示する",
            "nl":"Productleverancier weergeven",
            "pt-BR":"Exiba o fornecedor do produto",
            "zh-CN":"显示产品厂商",
            "zh-TW":"顯示產品廠商"
        },
        "default":true
    },
    {
        "type":"checkbox",
        "id":"hide_variant_images",
        "label":{
            "de":"Variantenbilder in der Galerie ausblenden",
            "en":"Hide variant images in gallery",
            "es":"Ocultar imágenes de variantes en galería",
            "fr":"Masquer les variantes d'images dans la galerie",
            "it":"Nascondi immagini varianti in galleria",
            "ja":"ギャラリーのバリエーション画像を非表示にする",
            "nl":"Variantafbeeldingen verbergen in galerie",
            "pt-BR":"Ocultar imagens de variantes na galeria",
            "zh-CN":"在图库中隐藏多属性图片",
            "zh-TW":"在圖庫中隱藏子類選項圖片"
        },
        "default":true
    },
    {
        "type":"checkbox",
        "id":"enable_payment_button",
        "label":{
            "de":"Dynamischen Checkout Button anzeigen",
            "en":"Show dynamic checkout button",
            "es":"Mostrar botón de pago dinámico",
            "fr":"Afficher le bouton de passage à la caisse dynamique",
            "it":"Mostra pulsante di check-out dinamico",
            "ja":"ダイナミックチェックアウトボタンを表示する",
            "nl":"Dynamische checkout knop weergeven",
            "pt-BR":"Exibir botão dinâmico de finalização da compra",
            "zh-CN":"显示动态结账按钮",
            "zh-TW":"顯示動態結帳按鈕"
        },
        "info":{
            "de":"Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in Ihrem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Infos](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "en":"Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "es":"Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "fr":"Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "it":"Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "ja":"PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "nl":"Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "pt-BR":"Cada cliente verá seu método de pagamento preferido dentre os disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "zh-CN":"每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "zh-TW":"每位客戶都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解相關資訊](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default":true
    },
    {
        "type":"checkbox",
        "id":"show_share_buttons",
        "label":{
            "de":"Buttons für Social Media anzeigen",
            "en":"Show social sharing buttons",
            "es":"Mostrar botones para compartir en redes sociales",
            "fr":"Afficher les boutons de partage sur les médias sociaux",
            "it":"Mostra i pulsanti per la condivisione sui social",
            "ja":"ソーシャル共有ボタンを表示する",
            "nl":"Knoppen voor delen via social media weergeven",
            "pt-BR":"Exibir botões de compartilhamento em redes sociais",
            "zh-CN":"显示社交分享按钮",
            "zh-TW":"顯示社群分享按鈕"
        },
        "info":{
            "de":"Vergewissern Sie sich, dass Sie in den allgemeinen Einstellungen das Teilen in sozialen Netzwerken aktiviert haben",
            "en":"Make sure you have enabled social sharing in general settings",
            "es":"Asegúrate de haber habilitado la opción para compartir en redes sociales en la configuración general.",
            "fr":"Assurez-vous d'avoir activé le partage social dans les paramètres généraux",
            "it":"Assicurati di aver abilitato la condivisione sui social nelle impostazioni generali",
            "ja":"一般設定でソーシャル共有を有効にしていることを確認してください。",
            "nl":"Zorg ervoor dat u delen via social media hebt ingeschakeld in de algemene instellingen",
            "pt-BR":"Verifique se você habilitou o compartilhamento em redes sociais nas configurações gerais",
            "zh-CN":"确保您在“通用”设置中启用了社交分享",
            "zh-TW":"請確定您已在一般設定內啟用社群分享功能"
        },
        "default":true
    },
    {
        "type": "header",
        "content": "Subtitle"
    },
    {
        "type": "paragraph",
        "content": "[Edit Subtitle](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.subtitle%2Cmetafields.global.subtitle_sub%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"header",
        "content":"Bullets"
    },
    {
        "type":"paragraph",
        "content": "[Edit Bullets](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.bullet01%2Cmetafields.global.bullet02%2Cmetafields.global.bullet03%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"header",
        "content":"Toggle Info"
    },
    {
        "type":"paragraph",
        "content": "[Edit 01 Toggle](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.dropdown_01_title%2Cmetafields.global.dropdown_01_definition%2Cmetafields.global.dropdown_01_image%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit 02 Toggle](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.dropdown_02_title%2Cmetafields.global.dropdown_02_definition%2Cmetafields.global.dropdown_02_image%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit 03 Toggle](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.dropdown_03_title%2Cmetafields.global.dropdown_03_definition%2Cmetafields.global.dropdown_03_image%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit 04 Toggle](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.dropdown_04_title%2Cmetafields.global.dropdown_04_definition%2Cmetafields.global.dropdown_04_image%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
{
    "type":"header",
    "content":"Icons"
},
    {
        "type": "checkbox",
        "id": "show_modal",
        "label": "Show modal on click?",
        "default": true
    },
    {
        "type": "paragraph",
        "content": "Icons text color. HEX values letters & numbers only. [Enter here.](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icons_text_color%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit Icon 01](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icon_01%2Cmetafields.global.icon_01_title%2Cmetafields.global.icon_01_text%2Cmetafields.global.icon_01_conditions%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit Icon 02](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icon_02%2Cmetafields.global.icon_02_title%2Cmetafields.global.icon_02_text%2Cmetafields.global.icon_02_conditions%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit Icon 03](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icon_03%2Cmetafields.global.icon_03_title%2Cmetafields.global.icon_03_text%2Cmetafields.global.icon_03_conditions%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit Icon 04](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icon_04%2Cmetafields.global.icon_04_title%2Cmetafields.global.icon_04_text%2Cmetafields.global.icon_04_conditions%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit Icon 05](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icon_05%2Cmetafields.global.icon_05_title%2Cmetafields.global.icon_05_text%2Cmetafields.global.icon_05_conditions%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type":"paragraph",
        "content": "[Edit Icon 06](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.icon_06%2Cmetafields.global.icon_06_title%2Cmetafields.global.icon_06_text%2Cmetafields.global.icon_06_conditions%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
      "type": "color",
      "id": "icon_text",
      "label": "Text Color",
      "default": "#3D6252"
    },
    {
      "type": "checkbox",
      "id": "narrow_icons",
      "label": "Icons close together?",
      "default": true
  },
    {
      "type": "select",
      "id": "icon_top_margin",
      "label": "Top margin",
      "default": "medium",
      "options": [
        {
            "value": "xlarge",
            "label": "XLarge"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "none",
          "label": "None"
        }
      ]
  },
  {
        "type": "checkbox",
        "id": "top_line",
        "label": {
          "de": "Unterer Rand",
          "en": "Top line",
          "es": "Margen inferior",
          "fr": "Marge inférieure",
          "it": "Margine inferiore",
          "ja": "下マージン",
          "nl": "Ondermarge",
          "pt-BR": "Margem inferior",
          "zh-CN": "下边距",
          "zh-TW": "下方邊界"
        },
        "default": true
    },
  {
        "type": "checkbox",
        "id": "bottom_margin",
        "label": {
          "de": "Unterer Rand",
          "en": "Bottom margin",
          "es": "Margen inferior",
          "fr": "Marge inférieure",
          "it": "Margine inferiore",
          "ja": "下マージン",
          "nl": "Ondermarge",
          "pt-BR": "Margem inferior",
          "zh-CN": "下边距",
          "zh-TW": "下方邊界"
        },
        "default": true
    },
    {
      "type": "select",
      "id": "icon_size",
      "label": "Icon Size",
      "default": "medium",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]
  },
        {
            "type": "text",
            "id": "cta_text_heading",
            "label": "CTA text",
            "default": "click the icons to learn more"
        },
{
    "type": "header",
    "content": "Carousel"
},
    {
        "type":"paragraph",
        "content": "[Add Carousel Images](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.carousel_image_urls%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type": "paragraph",
        "content": "**Add image URLs as comma seperated ex. https://image.jpg, https://image.jpg for each product."
    },
    {
        "type":"checkbox",
        "id":"product_carousel_full_width",
        "label": "Carousel full width",
        "default":false
    },

{
    "type": "header",
    "content": "Image with Text"
},
    {
        "type":"checkbox",
        "id":"show_img_with_text",
        "label": "Show image with text",
        "default":false
    },
    {
        "type":"paragraph",
        "content": "[Edit image with text here](https://nouri-wellness.myshopify.com/admin/bulk?resource_name=Product&app_context=&edit=metafields.global.image_url%2Cmetafields.global.image_title%2Cmetafields.global.image_content%2Cmetafields.global.image_content_two%3Astring&show=&return_to=%2Fadmin%2Fproducts&metafield_titles=&metafield_options=&query=&published_status=online_store%3Avisible&order=title+asc)"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "select",
        "id": "block_sizing",
        "label": "Block Sizing",
        "default": "half",
        "options": [
        {
            "value": "half",
            "label": "1/2 + 1/3"
        },
        {
            "value": "third",
            "label": "1/3 + 1/2"
        }
        ]
    },
    {
        "type": "select",
        "id": "alignment",
        "label": "Image Side",
        "default": "right",
        "options": [
        {
            "value": "right",
            "label": "Right"
        },
        {
            "value": "left",
            "label": "Left"
        }
        ]
    },
    {
        "type": "header",
        "content": "Head Section"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Probiotic"
    },
    {
        "type": "text",
        "id": "subheader",
        "label": "Subheader",
        "default": "Subheader"
    },
    {
        "type": "text",
        "id": "subheader_bold",
        "label": "Subheader Bold",
        "default": "Subheader Bold"
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Nouri’s probiotic combines 5 unique strains focused on boosting your brain health.</p>"
    }
    ],

    "blocks":[
    {
        "type":"image",
        "name":"Icon",
        "settings":[
        {
            "type":"text",
            "id":"image",
            "label":"Image URL"
        },
        {
            "type":"header",
            "content":"Text"
        },
        {
            "type":"text",
            "id":"icon_text_heading",
            "label":"Heading text",
            "default":"anti-inflammatory"
        },
        {
            "type":"header",
            "content":"Popup Content"
        },
        {
            "type":"text",
            "id":"popup_image",
            "label":"Popup Icon URL"
        },
        {
            "type":"html",
            "id":"popup_text",
            "label":"Popup Text",
            "default":"anti-inflammatory"
        },
        {
            "type":"html",
            "id":"popup_subtext",
            "label":"Popup Subtext",
            "default":"*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease"
        }
        ]
    }
    ]
}
{% endschema %}
