<style type="text/css">
  .bg-img-section-{{ section.id }} {
    background: url({{ section.settings.bg_image | img_url: 'master' }});
    border: none;
    padding: 11em 0;
    margin: 0;
    display: block;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: auto;
    background-position: top left;
  }
  .bg-img-section-{{ section.id }} .grid__item.text-center {
    position: relative;
    padding-top: 60px;
    display: block;
    height: 100%;
  }
  .bg-img-section-{{ section.id }} .grid__item.text-center .section-content {
    margin-left: 10%;
    width: 300px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 28px;
  }
  .bg-img-section-{{ section.id }} .grid__item.text-center .section-content p {
    font-size: 14px;
    font-family: "BentonSansRegular";
    letter-spacing: 2px;
    line-height: 32px;
    font-weight: 400;
  }
  .bg-img-section-{{ section.id }} .grid__item.text-center a.btn {
    background: transparent;
    color: #ee4523;
    border: 2px solid #ee4523;
    padding: 20px 50px;
    font-size: 16px;
    margin-top: 16%;
  }
  .bg-img-section-{{ section.id }} .grid__item.text-center a.btn:hover, .bg-img-section-{{ section.id }} .grid__item.text-center a.btn:active {
    background: #ee4523;
    color: #fff;
  }

  @media all and (max-width: 767px) {
    .bg-img-section-{{ section.id }} {
      max-width: 100%;
      background: url({{ section.settings.bg_mobile_image | img_url: 'master' }});
      background-size: cover;
      height: 460px;
      margin: 0;
      padding: 0;
    }
    .bg-img-section-{{ section.id }} .grid__item.text-center .section-content {
      margin: 0 auto !important;
	    background: url({{ section.settings.bg_mobile_image | img_url: 'master' }});
      background-size: 100% 100%;
      max-width: 320px;
      height: 460px;
    }
    .bg-img-section-{{ section.id }} .grid__item.text-center .section-content p {
      font-size: 12px;
      line-height: 18px;
      padding-top: 280px;
      letter-spacing: 1px;
    }
  }
</style>

{% capture image_layout %}
<div class="section-content text-left featured-content-with-image">
  {% if section.settings.title != blank %}
    <h2>{{ section.settings.title | escape }}</h2>
  {% endif %}

  {% if section.settings.text != blank %}
    {{ section.settings.text }}
  {% endif %}

  {% if section.settings.button_text != blank %}
    <a href="{{ section.settings.button_link }}" class="btn medium-down--hide">{{ section.settings.button_text }}</a>
  {% endif %}
</div>
{% endcapture %}

<div class="section-wrapper" data-section-id="{{ section.id }}" data-section-type="bg-img-section">
  <div class="shopify-section bg-img-section bg-img-section-{{ section.id }}">
    <div class="wrapper">
      <div class="grid page-width">

            {% if section.settings.layout == 'left' %}
            <div class="grid__item large--one-quarter pull--large--three-quarters medium--one-half">

              {{ image_layout }}

              </div>
            {% endif %}


              {% if section.settings.layout == 'right' %}

              <div class="grid__item large--one-quarter push--large--three-quarters medium--one-half">

                {{ image_layout }}

              </div>
              {% endif %}

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Background Image",
    "class": "index-section bg-img-section",
    "settings": [
	  {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
 	  {
        "type": "image_picker",
        "id": "bg_mobile_image",
        "label": "Mobile Background Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Content Here</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Content With Background Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
