
<footer class="wrapper site-footer pt-7" role="contentinfo">

  <div class="grid footer-links">

    <div class="grid__item medium--one-third large--one-third">
      <a href="/">
        <img src="https://cdn.shopify.com/s/files/1/2911/8128/files/nouri-official-logo-black.png?4163828877533810612" class="footer-logo" />
      </a>
    </div>

    <div class="grid__item medium--one-third large--one-third">

      <ul class="no-bullets site-footer__linklist">

        {%- for link in linklists[section.settings.middle_link_list].links -%}
          <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {%- endfor -%}

      </ul>

    </div>

    <div class="grid__item medium--one-third large--one-third">

      <div class="display-flexbox flex-center">

        <div class="flex-container">

          <ul class="no-bullets">

            {%- for link in linklists[section.settings.right_link_list].links -%}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor -%}

          </ul>
          <div class="footer-right-text">

            {{ section.settings.right_text }}

          </div>

        </div>

      </div>

    </div>

        </div>

        <div class="grid copyright">

          <div class="grid__item medium--four-sixths large--four-sixths privacy">
            <ul class="display-flexbox j-c-between">
              <li class="site-nav__item">
                <a href="/pages/privacy">Privacy Policy</a>
              </li>
              <li class="site-nav__item">
                <a href="/pages/terms-of-service">Terms of Service</a>
              </li>
              <li class="site-nav__item">©2019 Nouri Life, LLC. All rights reserved</li>
            </ul>
          </div>

          <div class="grid__item medium--two-sixths large--two-sixths statements">
              <div>* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</div>
          </div>

      	</div>

</footer>



{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "middle_link_list",
        "label": "Middle menu",
        "default": "footer"
      },
      {
        "type": "link_list",
        "id": "right_link_list",
        "label": "Right Menu",
        "default": "footer"
      },
      {
        "type": "richtext",
        "id": "right_text",
        "label": "Right text",
        "default": "<p>text for u!</p>"
      }
    ]
  }
{% endschema %}
