<style type="text/css">

@media all and (max-width: 767px) {
  .bg-img-section-{{ section.id }} {
    background: url({{ section.settings.bg_mobile_image | img_url: 'master' }});
  }
}

@media all and (min-width: 768px) {
  .bg-img-section-{{ section.id }} {
    background: url({{ section.settings.bg_image | img_url: 'master' }});
  }
}

</style>

{% capture image_layout %}
<div class="section-content text-left feat-image-with-text">

  {% if section.settings.title != blank %}
    <h1>{{ section.settings.title | escape }}</h1>
  {% endif %}

  {% if section.settings.subtitle != blank %}
    <h2>{{ section.settings.subtitle}}</h2>
  {% endif %}

  {% if section.settings.text != blank %}
    {{ section.settings.text }}
  {% endif %}

  {% if section.settings.subtext != blank %}
    <div class="subtext">
      {{ section.settings.subtext }}
    </div>
  {% endif %}

  {% if section.settings.button_text != blank %}
    <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
  {% endif %}
</div>
{% endcapture %}

<div class="section-wrapper" data-section-id="{{ section.id }}" data-section-type="bg-img-section">
  <div class="shopify-section bg-img-section bg-img-section-{{ section.id }}">
    <div class="wrapper">
      <div class="grid page-width">

            {% if section.settings.layout == 'left' %}
            <div class="grid__item large--one-quarter pull--large--three-quarters medium--one-half">

              {{ image_layout }}

              </div>
            {% endif %}


              {% if section.settings.layout == 'right' %}

              <div class="grid__item">

                {{ image_layout }}

              </div>
              {% endif %}

      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Background Image",
    "class": "feat-image-with-text",
    "settings": [
	  {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
 	  {
        "type": "image_picker",
        "id": "bg_mobile_image",
        "label": "Mobile Background Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "subtitle content"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Content Here</p>"
      },
      {
        "type": "richtext",
        "id": "subtext",
        "label": "subtext",
        "default": "<p>Content Here</p>"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Content With Background Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
