

  <!-- {{page.content}} -->

  <!-- <div class="grid__item large--hide about-mobile-image" style="text-align: center;">
    <img src="//cdn.shopify.com/s/files/1/2911/8128/files/ingrediant-top.png?v=1535630855" alt="" />
    <h2 class="about-title" style="margin-bottom: 0.5em; margin-top: 0.5em;">ingredients</h2>
  </div> -->

  <div class="grid__item large--one-quarter inte-side-content">
    <h3>{{ section.settings.section_01_title }}</h3>
    <p class="side-inte">{{ section.settings.section_01_text }}</p>
    <!-- <p class="side-inte">unparalleled power</p> -->
    <ul class="list-inte">
      <li>5 diverse strains</li>
      <li>3OBN CFUs of strength</li>
    </ul>
    <div class="ingre-image" style="text-align: center;">
      <img alt="" src="{{ section.settings.section_01_img | img_url: 'large' }}" style="display: block; margin-left: auto; margin-right: auto; float: none;" />
    </div>
  </div>
  <div class="grid__item large--three-quarters inte-main-content">
    <hr />
    <div class="clear">
      <div class="grid__item large--two-quarters padding-left-none">
        <h3>
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Bifidobacterium+longum" target="_blank" rel="noopener noreferrer">{{ section.settings.bullet_title }}</a>
          <a target="_blank" class="plus-icon" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Bifidobacterium+longum" rel="noopener noreferrer">+</a>
        </h3>
        <p class="p-block">{{ section.settings.bullet_text }}</p>
        <ul class="main-list-inte">
          <li>immunity</li>
          <li>anti-inflammatory</li>
          <li>combats infections</li>
        </ul>
      </div>
      <div class="grid__item large--two-quarters mobile-padding">
        <h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=lactobacillus+plantarum" target="_blank" rel="noopener noreferrer">Lactobacillus plantarum</a><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=lactobacillus+plantarum" target="_blank"
            class="plus-icon" rel="noopener noreferrer">+</a></h3>
        <p class="p-block">A survivor strain, its strength produces its own antibiotics to target bad bacteria.</p>
        <ul class="main-list-inte">
          <li>reduces inflammation</li>
          <li>fights pathogens</li>
          <li>increases immunity</li>
        </ul>
      </div>
    </div>
    <div class="clear padding-40">
      <div class="grid__item large--two-quarters padding-left-none">
        <h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Bifidobacterium+lactis" target="_blank" rel="noopener noreferrer">Bifidobacterium lactis</a><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Bifidobacterium+lactis" target="_blank" class="plus-icon"
            rel="noopener noreferrer">+</a></h3>
        <p class="p-block">Breaks down waste and aids in the absorption of vitamins &amp; minerals.</p>
        <ul class="main-list-inte">
          <li>immunity</li>
          <li>digestion</li>
          <li>reduces inflammation</li>
        </ul>
      </div>
      <div class="grid__item large--two-quarters mobile-padding">
        <h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=lactobacillus+brevis" target="_blank" rel="noopener noreferrer">Lactobacillus brevis</a><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=lactobacillus+brevis" target="_blank" class="plus-icon"
            rel="noopener noreferrer">+</a></h3>
        <p class="p-block">This strain helps to metabolize glucose and increases cellular immunity.</p>
        <ul class="main-list-inte">
          <li>immunity</li>
          <li>increases effectiveness of antibiotics</li>
          <li>increases BDNF (brain-derived neurotrophic factor)</li>
        </ul>
      </div>
    </div>
    <div class="clear padding-40">
      <div class="grid__item large--two-quarters padding-left-none">
        <h3><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=lactobacillus+acidophilus" target="_blank" rel="noopener noreferrer">Lactobacillus acidophilus</a><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=lactobacillus+acidophilus" target="_blank"
            class="plus-icon" rel="noopener noreferrer">+</a></h3>
        <p class="p-block">The most known and studied strain, proven to help overall digestion.</p>
        <ul class="main-list-inte">
          <li>digestion</li>
          <li>nutrient absorption</li>
          <li>repairs leaky gut</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ingre-image" id="oil-section" style="text-align: center;">
    <img src="//cdn.shopify.com/s/files/1/2911/8128/files/oil_large_f7fd0db5-01e5-4a0f-9bba-27bd51529f8c.png?v=1538467141" style="display: block; margin-left: auto; margin-right: auto; float: none;" alt="" />
  </div>
  <div class="grid__item large--one-quarter inte-side-content">
    <h3 style="text-align: left;">Omega - 3,6,9</h3>
    <p class="side-inte" style="text-align: left;">plant-based</p>
    <p class="side-inte" style="text-align: left;">unparalleled power</p>
  </div>
  <div class="grid__item large--three-quarters inte-main-content omega-content">
    <hr />
    <div class="clear">
      <div class="grid__item large--two-quarters padding-left-none">
        <p class="p-block" style="text-align: left;">Ahiflower® oil is a pure vegan omega powerhouse with the combined nutritional punch of evening primrose, flaxseed, and fish oils! Your best omega value from a single, sustainable and traceable.</p>
      </div>
      <div class="grid__item large--two-quarters mobile-padding" style="text-align: left;">
        <p class="p-block" style="text-align: left;">Unlike fish. flax, and other omega oils. Ahiflower® contains GLA, an omega 6 associated with skin health, hormonal, balance and healthy inflammation response.</p>
        <p class="p-block-last-line" style="text-align: left;"><a target="_blank" class="plus-icon" href="https://www.ncbi.nlm.nih.gov/pubmed/?term=ahiflower+oil" rel="noopener noreferrer">+</a></p>
      </div>
    </div>
  </div>



{% schema %}
  {
    "name": "Section 01",
    "settings": [
      {
        "type": "image_picker",
        "id": "section_01_img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "section_01_title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "section_01_text",
        "label": "<p>Text</p>"
      }
    ],
    "blocks": [
      {
        "type": "defalut",
        "name": "Bullets",
        "settings": [
          {
            "type": "text",
            "id": "bullet_title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "bullet_text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "seal with text",
        "category": "seal"
      }
    ]
  }
{% endschema %}
