<div id="learn-more-modal" class="modal" style="display: none;">
<!--     	<div id="learn-more-modal" style="display: none;"> -->
    <div class="video-modal-content">
        <span class="close" id="learn-more-close">×</span>
      <div class="container-modal-video">
        <div id="player"></div>
        <script src="https://www.youtube.com/player_api"></script>
        <script>

            // create youtube player

            var player;
            function onYouTubePlayerAPIReady() {
                player = new YT.Player('player', {
//                       height: '390',
//                       width: '640',
                  videoId: 'fr6e6jqbMeU',
                  events: {
                    'onReady': onPlayerStateChange,
                    'onStateChange': onPlayerStateChange
                  }
                });
            }

            // autoplay video
            function onPlayerReady(event) {
                event.target.playVideo();
            }

            // when video ends
            function onPlayerStateChange(event) {
              const vid = document.getElementById("player");
              const nVid = document.getElementById("newsletter-vid");
                if(event.data === 0) {
                    vid.style.display = "none";
                    nVid.style.display = "flex";
                }
            }

        </script>
      </div>

      <div id="newsletter-vid" style="display:none;">

        <div class="newsletter">
          <div class="wrapper">
            {% unless section.settings.heading == blank %}
              <div class="section-header text-center">
                <h2 class="h1 section-header__title">{{ section.settings.heading | escape }}</h2>
                {% if section.settings.subheading == blank %}
                  <hr class="hr--small">
                {% endif %}
              </div>
            {% endunless %}
            {% unless section.settings.subheading == blank %}
              <div class="section-subheading text-center">
                <p>{{ section.settings.subheading | escape }}enter your email below to learn all about <b>how it works</b>:</p>
                <hr class="hr--small">
              </div>
            {% endunless %}
            <p>enter your email below to learn all about <b>how it works</b>:</p>
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <div class="newsletter--form">
                  <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
                </div>
              {% else %}
                <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter--form">
                  <div class="input-group">
                    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_placeholder' | t }}" name="contact[email]" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
                    <span class="input-group-btn">
                      <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe">
                        <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                        <span class="newsletter__submit-text--small">
                          <span class="icon icon-arrow-right" aria-hidden="true"></span>
                        </span>
                      </button>
                    </span>
                  </div>
                </div>
              {% endif %}
            {% endform %}
          </div>
        </div>
      </div>
  </div>
</div>
<script>
    var learnMoreModal = document.getElementById('learn-more-modal');
    var learnMoreBtn = document.getElementById("learn-more-btn");
    var learnMoreClose = document.getElementById("learn-more-close");
    learnMoreBtn.onclick = function() {
        learnMoreModal.style.display = "block";
    }
    learnMoreClose.onclick = function() {
        learnMoreModal.style.display = "none";
    }
    $('#learn-more-modal').on('click', function(event) {
        if (event.target == event.currentTarget) {
            learnMoreModal.style.display = "none";
        }
    });
</script>
