{% if section.settings.narrow_icons == true %}
  {% assign justifyIcons = "center" %}
{% else %}
  {% assign justifyIcons = 'space-around' %}
{% endif %}

{% if section.settings.icon_size == 'large' %}
  {% assign iconSize = "100px" %}
{%- elsif section.settings.icon_size == 'small' -%}
    {% assign iconSize = "50px" %}
{% else %}
    {% assign iconSize = "75px" %}
{% endif %}

<style type="text/css">
  .icons-section {
  	background: {{ section.settings.icon_bg }};
  }
  .icons-{{ section.id }} * {
    color: {{ section.settings.icon_text }};
  }

    .icons-{{ section.id }}.icons-main {
      justify-content: {{ justifyIcons }};
    }

    .icons-{{ section.id }} .icon__image {
        width: {{ iconSize }};
        height: {{ iconSize }};
    }

    .icons-{{ section.id }} .icon__image {
        min-width: {{ iconSize }};
    }

    .show-modal {
        display: block;
    }

</style>


<div class="icons-{{ section.id }} icons-main grid">
  {% for block in section.blocks %}
      <div class="single__icon icon--{{ block.id }}" id="modalclick--{{ block.id }}">

        {% if block.settings.popup_text != empty %}
            <!-- initial icon -->
            <div class="icon">
                <img src="{{ block.settings.image }}" class="icon__image" />
                <!-- initial icon text -->
                <div class="icon__text">
                    {{ block.settings.icon_text_heading | escape }}
                </div>
            </div>
        {% endif %}

        <!-- modal content -->
        <div id="modalicon--{{ block.id }}" class="modal">
            <div class="modal-content ">
                <a class="close close--{{ block.id }}">&times;</a>
                <div class="icon-model">

                    <div class="icon-model-img medium-up--one-quarter grid__item">
                        <img src="{{ block.settings.popup_image }}" class="icon_model__image lazyload" />
                    </div>
                    <div class="icon-model-content medium-up--six-eighths grid__item">
                        <p>{{ block.settings.popup_text }}</p>
                        <div class="conditions">
                            <p>{{ block.settings.popup_subtext }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      </div>
  {% endfor %}
</div>

{% if section.settings.cta_text_heading != blank %}
  <div class="grid one-whole icons-{{ section.id }}">
    <div class="grid__item text-center">
    <h6>{{ section.settings.cta_text_heading | escape }}</h6>
    </div>
  </div>
{% endif %}
