{% assign img_url = type | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

{% if grid_style == 'grid' %}
<!-- card__image   -->

    <div class="image-container">
        <img class="card__image-wrapper card__image--align lazyload fade-in"
            src="{{ type | img_url: '300x'}}"
            data-parent-fit="cover"
            data-src="{{ img_url }}"
            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ type.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ type.alt | escape }}"
            data-variant-image>
            <h3 class="card__name">{{ article.title }}</h3>
    </div>

{% endif %}

{% comment %}

{% assign img_url = type | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

{% if grid_style == 'grid' %}
   <div class="card__image-wrapper card__image-wrapper--aligned">
   <div class="card__preloader"></div>
    <img class="card__image card__image--align lazyload fade-in"
        src="{{ type | img_url: '300x'}}"
        data-parent-fit="cover"
        data-src="{{ img_url }}"
        data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ type.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ type.alt | escape }}"
        data-variant-image>
        <h3 class="card__name">{{ article.title }}</h3>

  </div>
{% else %}
  <div class="" style="padding-top:{{ 1 | divided_by: type.aspect_ratio | times: 100}}%">
      <!-- card__image-wrapper -->
    <div class="card__preloader"></div>
    <img class="card__image lazyload fade-in"
      data-src="{{ img_url }}"
      data-widths="[180, 220, 300, 360, 460, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
      data-aspectratio="{{ type.aspect_ratio }}"
      data-sizes="auto"
      alt="{{ type.alt | escape }}">
      <h3 class="card__name">{{ article.title }}</h3>

    <noscript>
      {% assign card_image = type | img_url: '1024x1024' %}
      <img src="{{ card_image }}" alt="{{ type.alt | escape }}" class="card__image">
    </noscript>
  </div>
{% endif %}

{% endcomment %}
