
<style type="text/css">
  .icons-section {
    	background: {{ section.settings.icon_bg }};
  }
  .icons-{{ section.id }} {
    color: {{ section.settings.icon_text }};
    border: none;
    padding: 45px 0;
    margin: 0;
    display: block;
    text-align: center;
    display:table;
    width:70%;
    margin: 0 auto;
  }
  .single__icon {
    display: table-cell;
    width: 120px;
    margin: 0;
    padding: 0;
  }
  .single__icon:hover{
    cursor:pointer;
  }
  .icon__text {
    font-family: "BentonSansRegular";
    font-size: 11.63px;
  }
  .single__icon img{
    width: auto;
    height: 85px;
    vertical-align: top;
  }
</style>

<div class="grid__item large--one-half push--large--one-quarter pre--order-icons-div">
  <ul class="pre--order-icons-ul">
    <li class="pre--order-icon">
      {% assign id = "11" %}
      <img id="modalclick--{{ id }}" src="{{ "1_organge.png" | asset_url }}" alt="anti-inflammatory" class="pre--order-icon-img" />
      <div id="modalicon--{{ id }}" class="modal">
        <div class="modal-content ">
          <div class="icon-model">
            <div class="icon-model-img large--one-quarter grid__item">
              <img src="{{ "1_organge.png" | asset_url }}" class="icon_model__image" />
            </div>
            <div class="icon-model-content large--six-eighths grid__item">
              <div>Nouri combines researched strains of probiotics and Ahiflower oil (containing omega 3, 6 and 9 properties) to deliver the world's first unique combination targeted to reduce inflammation in your mind and body.</div>
              <div class="conditions">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var modal{{ id }} = document.getElementById('modalicon--{{ id }}');
        var btn{{ id }} = document.getElementById("modalclick--{{ id }}");
        btn{{ id }}.onclick = function() {
          modal{{ id }}.style.display = "block";
        }
        $('#modalicon--{{ id }}').on('click', function(event) {
          if(event.target == event.currentTarget) {
            modal{{ id }}.style.display = "none";
          }
        });
      </script>
    </li>
    <li class="pre--order-icon">
      {% assign id = "22" %}
      <img id="modalclick--{{ id }}" src="{{ "2_organge.png" | asset_url }}" alt="super immunity" class="pre--order-icon-img" />
      <div id="modalicon--{{ id }}" class="modal">
        <div class="modal-content ">
          <div class="icon-model">
            <div class="icon-model-img large--one-quarter grid__item">
              <img src="{{ "2_organge.png" | asset_url }}" class="icon_model__image" />
            </div>
            <div class="icon-model-content large--six-eighths grid__item">
              <div>80% of your immune activity takes place in your gut, that means that the bacteria living in your intestines are largely responsible for your immunity. To stay in tip top health requires that you feed your immune system with good, living bacteria such as the blend Nouri has created. And even better yet, the addition of Ahiflower oil provides the immune enhancing properties of EPA and DHA derived from this omega-powerhouse.</div>
              <div class="conditions">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var modal{{ id }} = document.getElementById('modalicon--{{ id }}');
        var btn{{ id }} = document.getElementById("modalclick--{{ id }}");
        btn{{ id }}.onclick = function() {
          modal{{ id }}.style.display = "block";
        }
        $('#modalicon--{{ id }}').on('click', function(event) {
          if(event.target == event.currentTarget) {
            modal{{ id }}.style.display = "none";
          }
        });
      </script>
    </li>
    <li class="pre--order-icon">
      {% assign id = "33" %}
      <img id="modalclick--{{ id }}" src="{{ "3_organge.png" | asset_url }}" alt="digestion" class="pre--order-icon-img" />
      <div id="modalicon--{{ id }}" class="modal">
        <div class="modal-content ">
          <div class="icon-model">
            <div class="icon-model-img large--one-quarter grid__item">
              <img src="{{ "3_organge.png" | asset_url }}" class="icon_model__image" />
            </div>
            <div class="icon-model-content large--six-eighths grid__item">
              <div>
                <p>Nouri's blend of probiotics combined with omega oils supports your digestive system to process and absorb nutrients. By supporting the health of your digestive system everyday, your body can more easily utilize the nutrients it craves.</p>
                <p>Probiotics are the bacteria that line your digestive track. Nouri's blend of five diverse strains of probiotics, protected and delivered to your gut by Ahiflower oil.</p>
              </div>
              <div class="conditions">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var modal{{ id }} = document.getElementById('modalicon--{{ id }}');
        var btn{{ id }} = document.getElementById("modalclick--{{ id }}");
        btn{{ id }}.onclick = function() {
          modal{{ id }}.style.display = "block";
        }
        $('#modalicon--{{ id }}').on('click', function(event) {
          if(event.target == event.currentTarget) {
            modal{{ id }}.style.display = "none";
          }
        });
      </script>
    </li>
    <li class="pre--order-icon">
      {% assign id = "44" %}
      <img id="modalclick--{{ id }}" src="{{ "4_organge.png" | asset_url }}" alt="energy promoting" class="pre--order-icon-img" />
      <div id="modalicon--{{ id }}" class="modal">
        <div class="modal-content ">
          <div class="icon-model">
            <div class="icon-model-img large--one-quarter grid__item">
              <img src="{{ "4_organge.png" | asset_url }}" class="icon_model__image" />
            </div>
            <div class="icon-model-content large--six-eighths grid__item">
              <div>The level of energy you have on the outside all begins on the inside. The good guy bacteria living in your gut communicates with the ever-important nervous system, a main player in daily mood and energy.</div>
              <div class="conditions">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var modal{{ id }} = document.getElementById('modalicon--{{ id }}');
        var btn{{ id }} = document.getElementById("modalclick--{{ id }}");
        btn{{ id }}.onclick = function() {
          modal{{ id }}.style.display = "block";
        }
        $('#modalicon--{{ id }}').on('click', function(event) {
          if(event.target == event.currentTarget) {
            modal{{ id }}.style.display = "none";
          }
        });
      </script>
    </li>
    <li class="pre--order-icon">
      {% assign id = "55" %}
      <img id="modalclick--{{ id }}" src="{{ "5_organge.png" | asset_url }}" alt="plant-based" class="pre--order-icon-img" />
      <div id="modalicon--{{ id }}" class="modal">
        <div class="modal-content ">
          <div class="icon-model">
            <div class="icon-model-img large--one-quarter grid__item">
              <img src="{{ "5_organge.png" | asset_url }}" class="icon_model__image" />
            </div>
            <div class="icon-model-content large--six-eighths grid__item">
              <div>Nouri's super star omega oil, Ahiflower, is 100% plant based combining the nutritional punch of evening primrose, flaxseed, and fish oil. Ahifower is your best omega value from a single, sustainable and traceable plant.</div>
              <div class="conditions">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var modal{{ id }} = document.getElementById('modalicon--{{ id }}');
        var btn{{ id }} = document.getElementById("modalclick--{{ id }}");
        btn{{ id }}.onclick = function() {
          modal{{ id }}.style.display = "block";
        }
        $('#modalicon--{{ id }}').on('click', function(event) {
          if(event.target == event.currentTarget) {
            modal{{ id }}.style.display = "none";
          }
        });
      </script>
    </li>
    <li class="pre--order-icon">
      {% assign id = "66" %}
      <img id="modalclick--{{ id }}" src="{{ "6_organge.png" | asset_url }}" alt="gluten & allergen free" class="pre--order-icon-img" />
      <div id="modalicon--{{ id }}" class="modal">
        <div class="modal-content ">
          <div class="icon-model">
            <div class="icon-model-img large--one-quarter grid__item">
              <img src="{{ "6_organge.png" | asset_url }}" class="icon_model__image" />
            </div>
            <div class="icon-model-content large--six-eighths grid__item">
              <div>Each ingredient researched, sourced and used in the creation of Nouri is free from all allergens including gluten, dairy, GMOs, soy. </div>
              <div class="conditions">*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var modal{{ id }} = document.getElementById('modalicon--{{ id }}');
        var btn{{ id }} = document.getElementById("modalclick--{{ id }}");
        btn{{ id }}.onclick = function() {
          modal{{ id }}.style.display = "block";
        }
        $('#modalicon--{{ id }}').on('click', function(event) {
          if(event.target == event.currentTarget) {
            modal{{ id }}.style.display = "none";
          }
        });
      </script>
    </li>
  </ul>
</div>
