<style type="text/css">
  .ingredients-{{ section.id }} {
    background: {{ section.settings.bg }};
    color: {{ section.settings.text }};
    border: none;
    padding: 70px 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 70%;
  }
  .ingredients-{{ section.id }} .ingredients-title {
    color: {{ section.settings.text }};
    text-align: left;
    font-size: 24px;
    font-family: "BentonSansBold";
    width: 30%;
    letter-spacing: 5px;
    line-height: 1.25;
    margin-bottom: 60px;
    text-transform: lowercase;
  }
  .ingredients-{{ section.id }} .ingredients-title .underscore-sign {
    margin-bottom: 15px;
    display: block;
  }
  .ingredients-{{ section.id }} .single__ingredients .ingredients__image {
    width: 65%;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    margin-bottom: 50px;
  }
  .ingredients-{{ section.id }} .single__ingredients .ingredients__text {
    text-align: left;
    font-family: "BentonSansRegular";
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 28px;
    position: relative;
    padding: 0 12px;
  }
  .ingredients-{{ section.id }} .single__ingredients:last-child .ingredients__text {
    padding-left: 50px;
  }
  @media screen and (min-width: 591px) {
    .ingredients-{{ section.id }} .single__ingredients:last-child .ingredients__text::before {
      content: "+";
      font-family: "BentonSansRegular";
      font-size: 30px;
      position: absolute;
      left: -25px;
      top: -170px;
    }
  }

  .ingredients-{{ section.id }} .single__ingredients .ingredients__text .inverse--color {
    color: #ee4523;
    font-weight: 900;
    font-size: 18px;
  }
  @media all and (max-width: 768px) {

    .ingredients-{{ section.id }} {
      width: 100% !important;
      padding: 30px 0 !important;
    }
    .ingredients-{{ section.id }} .ingredients-title{
      font-size: 16px !important;
      width: 220px !important;
      text-align: center !important;
      margin: 0 auto !important;
    }
    .ingredients-{{ section.id }} .single__ingredients .ingredients__image {
      width: 200px !important;
      margin: 30px auto 0px auto !important;
    }
    .ingredients-{{ section.id }} .single__ingredients:last-child .ingredients__text,.ingredients__text {
      font-size: 14px !important;
      text-align: center !important;
      margin-top: 25px;
      line-height: 24px !important;
      letter-spacing: 1px !important;
    }
    .ingredients-{{ section.id }} .single__ingredients:last-child .ingredients__text {
      padding-left: 0 !important;
    }
    .ingredients-{{ section.id }} .single__ingredients .ingredients__text .inverse--color {
      font-size: 25px !important;
      display: block;
      padding: 15px 0;
    }
  }
  iframe#preview-bar-iframe {
    display: none !important;
}
</style>

<div data-section-id="{{ section.id }}" data-section-type="ingredients-section">
  {% if section.blocks.size > 0 %}
    <div class="wrapper">
          <div class="{{ section.id }} ingredients-list-main">

            <header class="ingredients__sectionSubtitle">
              <h3>{{ section.settings.sectionSubtitle }}</h3>
            </header>

            <main class="grid">
              {% for block in section.blocks %}
                <div class="grid__item text-left single__ingredients ingredients--{{ block.id }}">

                  <header>
                    {% if block.settings.image %}
                      <span class="ingredients__image">
                        <img src="{{ block.settings.image }}" />
                      </span>
                    {% endif %}
                  </header>

                  <section>
                    {% if block.settings.textContent != blank %}
                      {{ block.settings.textContent }}
                    {% endif %}
                  </section>

                </div>

              {% endfor %}
            </main>

          </div>

    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Ingredients List",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "text",
        "label": "Text Color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "sectionSubtitle",
        "label": "Sub Title"
      }
    ],
    "blocks" : [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "textContent",
            "label": "Text",
            "default": "<p>Content Here</p>"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title"
          },
          {
            "type": "url",
            "id": "subtitle-link",
            "label": "Sub Title Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ingredients List",
        "category": "Ingredients"
      }
    ]
  }
{% endschema %}
