<div class="grid-uniform">
  <div class="grid__item large--whole institute-page">
      <div class="grid__item medium--one-whole large--one-whole">

        <img src="{{ section.settings.banner_image | img_url: 'master' }}" alt="">

      </div>
    <div class="grid pt-4">
      <div class="grid__item medium--two-thirds push--medium--one-third large--two-thirds push--large--one-third">
        <h1>{{ section.settings.heading }}</h1>
      </div>
    </div>

    <div class="wrapper">
    <div class="grid pt-2">

      <div class="grid__item medium--one-third large--one-third left-content">
        <div class="heading">
          <p>{{ section.settings.left_column_heading }}</p>
        </div>
        <div class="content">
          <p>{{ section.settings.left_column }}</p>
        </div>
      </div>

      <div class="grid__item medium--two-thirds large--two-thirds right-content">
        <div class="heading">
          <p class="heading">{{ section.settings.right_column_heading }}</p>
        </div>

        <div class="grid content">
          <div class="grid__item medium--one-half large--one-half">
            <p>{{ section.settings.right_column_01 }}</p>
          </div>
          <div class="grid__item medium--one-half large--one-half">
            <p>{{ section.settings.right_column_02 }}</p>

            <div>
              <a class="btn" href="https://dailynouri.com/pages/contact{{ section.settings.right_column_btn_link }}">{{ section.settings.right_column_btn_text }}</a>
            </div>

          </div>
        </div>

      </div>
    </div>
    </div>


  </div>
</div>

{% schema %}
  {
    "name": "Institute Content",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
      },
      {
        "type": "richtext",
        "id": "left_column_heading",
        "label": "<p>Left Heading</p>"
      },
      {
        "type": "richtext",
        "id": "left_column",
        "label": "<p></p>"
      },
      {
        "type": "richtext",
        "id": "right_column_heading",
        "label": "<p>Right Heading</p>"
      },
      {
        "type": "textarea",
        "id": "right_column_01",
        "label": "Right Content A"
      },
      {
        "type": "textarea",
        "id": "right_column_02",
        "label": "Right Content B"
      },
      {
        "type": "text",
        "id": "right_column_btn_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "right_column_btn_link",
        "label": "Button Link"
      }
    ]
  }
{% endschema %}
