<!-- /templates/customers/register.liquid -->

<div class="grid" style="margin: 75px 0 15px 0;">
  <div class="grid__item large--one-half text-center login-form">
    <div class="large--hide medium--hide small--hide account-mobile-img"><img src="{{'account-mobile.png'| asset_url}}" /></div>
    <header class="section-header">
      <h1 class="form-heading">{{ 'customer.register.title' | t }}</h1>
    </header>

    <div class="form-vertical">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}
		<div class="grid__item large--one-half">
            <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
        </div>
        <div class="grid__item large--one-half">
            <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
      	</div>
      	<div class="grid__item large--one-half">
            <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
            <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
      	</div>
      	<div class="grid__item large--one-half">
            <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
            <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
      	</div>
        <div class="clear"></div>
      	<p class="forgotlable">

          <label class="container">
            <span class="container-check">
              	<input type="checkbox" required>
            	<i class="checkmark"></i>
            </span>
            <span class="container-label">I agree with term of use and privacy</span>
          </label>
      	</p>
        <p class="underline">
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--large">
          {% include 'svg-definitions' with 'ul-login' %}
        </p>
        <!--<a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>-->
      {% endform %}
    </div>
  </div>
</div>
